.section-box {

    &__title {
        @include h2();
        flex: 1;
        display: block;
        width: 100%;
        margin-bottom: 3rem;
        text-align: center;
        color: $color-title;
        font-weight: 400;

        @include mq(md) {
            margin-bottom: 6rem;
        }
    }


    &__title-description {
        @include font(1.8rem,3rem);
        display: block;
        margin-top: 1.5rem;

        @include mq(md) {
            @include font(2.1rem,4rem);
            margin-top: 2rem;
        }
    }


}
