.information-content {
    background: $color-inverse;

    &__box {
        padding: 6rem 0;

        @include mq(md) {
            padding: 11rem 0 12rem;
        }
    }

    &__grid {

        @include mq(md) {
            display: flex;
            justify-content: space-around;
        }


    }

    &__item {
        padding: 1rem;
        text-align: center;

        @include mq(xs) {

            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }

        @include mq(md) {
            flex: 1;
            flex-grow: 1;
            padding: 2rem;
        }
    }

    &__item-value {
        @include font(7rem,7rem);
        margin-bottom: .8rem;
        text-transform: uppercase;
        color: $color-brand;

        @include mq(md) {
        }
    }

    &__item-title {
        @include text-base;
    }


    &__image-block {
        margin-bottom: 2rem;

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }

        &--photo {
            > img {
                width: auto;
                margin: 0 auto;
            }
        }
    }

    &__description {
        text-align: center;
        color: $color-title;

        > h5 {
            text-align: center;
        }

        > p {
            @include text-base();
            color: $color-base;
        }
    }

    &__title-block {
        margin-bottom: 1rem;
    }

    &__company {
        color: $color-brand;
    }



}
