header.site-promo.js-site-promo
    .site-promo__background-box
    .site-promo__content-box
        article.site-promo__content
            .site-promo__image
                img(src='img/face.svg')
            h1.site-promo__title Illustrators.ru принимает заказы
            p Агентский сервис на главном арт-портале страны
            .site-promo__button-block
                a.button-to-order.js-to-bottom(href='#contacts') Заказать
