extends layouts/application

block title
    title Index / Neo

block main

    .section-box.information-content
        .container

            .information-content__box
                .information-content__grid

                    .information-content__item.flipInX.wow
                        .information-content__item-value 25000
                        h3.information-content__item-title Авторов

                    .information-content__item.flipInX.wow
                        .information-content__item-value 500000
                        h3.information-content__item-title Иллюстраций

                    .information-content__item.flipInX.wow
                        .information-content__item-value +1000
                        h3.information-content__item-title Работ ежедневно


    section.section-box.about
            .about__grid
                .about__item.js-full-section(data-background="brand")
                    .image-animate
                        .image-animate__fr1.animated.zoomInLeft.wow
                            img(src='img/fr1.svg')

                .about__item.js-full-section
                    article.about__item-content.hideme
                        h4.about__item-title Мы лучшие
                        p Портал illustrators.ru существует более 10 лет. У нас зарегистрировано большинство лучших коммерческих русскоязычных художников-иллюстраторов из стран бывшего Советского Союза. Сейчас у нас более 25 000 активных авторов и более 500 000 загруженных иллюстраций.
                        p За время существования ресурса мы изучили все потребности, проблемы, стилистические различия. Мы знаем, что по-настоящему необходимо заказчикам иллюстраций и как быстро и качественно решить их задачи, минуя риски и экономя время клиента
                        p Мы готовы предоставить полный спектр юридической и коммерческой помощи клиентам, найти необходимого автора, грамотно поставить задачу и вместе с вами придумать качественное яркое решение.


    section.section-box.about
            .about__grid

                .about__item.js-full-section
                    article.about__item-content.hideme
                        h4.about__item-title Наши услуги
                        h5.about__item-sub-title Поиск авторов
                        p Подберем и договоримся о стоимости и сроках с автором.
                        h5.about__item-sub-title Идеи и решения ваших задач
                        p Придумаем креативную концепцию будущих иллюстраций и воплотим их в реальность.
                        h5.about__item-sub-title Контроль сроков
                        p Проконтролируем производство иллюстрации на всех этапах её создания.
                        h5.about__item-sub-title Юридическое и коммерческое сопровождение
                        p Подготовим авторские договора для исключения юридических рисков и проблем.

                .about__item.js-full-section(data-background="brand-alt")
                    .image-animate
                        .image-animate__fr2.animated.bounceInRight.wow
                            img(src='img/fr2.svg')


    .section-box.information-content
        .container

            .information-content__box
                h2.section-box__title Преимущества работы с нами
                .information-content__grid

                    .information-content__item.rollIn.wow
                        .information-content__image-block
                            img(src='img/im1.svg' alt='')

                        .information-content__description
                            .information-content__title-block
                                h5 Команда профессионалов
                            p Качественные проекты невозможно создать в одиночку или с помощью людей, которые впервые сталкиваются с решением нетривиальных задач.


                    .information-content__item.rollIn.wow
                        .information-content__image-block
                            img(src='img/im2.svg' alt='')

                        .information-content__description
                            .information-content__title-block
                                h5 То о чем вы не подумаете
                            p Мы готовы предложить заказчику иллюстраций совсем нетривиальные решения, основываясь на собственном многолетнем опыте.




                    .information-content__item.rollIn.wow
                        .information-content__image-block
                            img(src='img/im3.svg' alt='')

                        .information-content__description
                            .information-content__title-block
                                h5 Время, деньги, сроки и нервы
                            p Заключая договор с нами, вы экономите время, а как известно совокупность качественной работы, сделанной вовремя экономит деньги.





    section.section-box.about
            .about__grid
                .about__item.js-full-section(data-background="brand")


                .about__item.js-full-section
                    article.about__item-content.hideme
                        h4.about__item-title Области применения
                        h5.about__item-sub-title Рекламная иллюстрация
                        p Визуальная коммуникация коммерческих брендов и пользователей не должна быть скучной.
                        h5.about__item-sub-title Веб-иллюстрация
                        p Яркая и качественная графика будет приковывать внимание тысяч пользователей вашего сайта.
                        h5.about__item-sub-title Анимация
                        p Любую иллюстрацию можно оживить и заставить жить на экране.
                        h5.about__item-sub-title Принты и сувениры
                        p Любую иллюстрацию можно достать из компьютера и напечатать на чем угодно.

                        p.about__strong А также стикерпаки, граффити, мультфильмы, видео-презентации, игры, упаковка и даже татуировки!


    section.section-box.about
            .about__grid

                .about__item.js-full-section
                    article.about__item-content.hideme
                        h4.about__item-title Офлайн
                        h5.about__item-sub-title Картины и прочий арт
                        p На нашем сайте наряду с иллюстрациями можно заказать картины и даже скульптуры. Мы готовы найти и договориться с авторами и этой смежной для иллюстрации тематики.
                        h5.about__item-sub-title Выездные образовательные арт-сессии для детей и взрослых
                        p Мы готовы организовать для вашей компании выездную образовательую арт-сессию со многими авторами нашего сайта.
                        h5.about__item-sub-title Конкурсы
                        p Конкурсы — нетривиальный способ разбудить в людях творческие навыки, или привлечь новую аудиторию к вашему бренду. Мы готовы придумать для вас идею конкурса и с успехом его провести.


                .about__item.js-full-section(data-background="brand-alt")


    .section-box.information-content
        .container

            .information-content__box
                h2.section-box__title Отзывы наших клиентов
                .information-content__grid

                    .information-content__item.bounceInLeft.wow
                        .information-content__image-block.information-content__image-block--photo
                            img(src='img/ph1.png' alt='')

                        .information-content__description
                            .information-content__title-block
                                h5 Сергей Макаров
                                span.information-content__company Ростелеком
                            p Качественные проекты невозможно создать в одиночку или с помощью людей, которые впервые сталкиваются с решением нетривиальных задач.


                    .information-content__item.bounceInUp.wow
                        .information-content__image-block.information-content__image-block--photo
                            img(src='img/ph2.png' alt='')

                        .information-content__description
                            .information-content__title-block
                                h5 Екатерина Старовойтова
                                span.information-content__company ООО «Балтика»
                            p Мы готовы предложить заказчику иллюстраций совсем нетривиальные решения, основываясь на собственном многолетнем опыте.




                    .information-content__item.bounceInRight.wow
                        .information-content__image-block.information-content__image-block--photo
                            img(src='img/ph3.png' alt='')

                        .information-content__description
                            .information-content__title-block
                                h5 Виктор Синельников
                                span.information-content__company Московская Городская Гимназия №1
                            p Заключая договор с нами, вы экономите время, а как известно совокупность качественной работы, сделанной вовремя экономит деньги.


    .section-box.contacts
        .container
            .contacts__box
                h2.section-box__title
                    span Хотите с нами работать?
                    span.section-box__title-description Добро пожаловать на agency.illustrators.ru

                .contacts__grid

                    .contacts__item
                        .contacts__content
                            div
                                a.contacts__link(href='tel:84957891155') +7 495 789-11-55
                            div
                            a.contacts__link(href='tel:84957891155') agency@illustrators.ru

                        .contacts__content
                            .contacts__link-title Следите за нашей работой

                            .contacts__social-grid

                                a.vk(href='#' target='_blank')
                                    i.mdi.mdi-vk

                                a.facebook(href='#' target='_blank')
                                    i.mdi.mdi-facebook

                                a.instagram(href='#' target='_blank')
                                    i.mdi.mdi-instagram


                    .contacts__item
                        .form

                            .form__input-block
                                input(type='text' placeholder='Эл. почта')

                            .form__input-block
                                input(type='text' placeholder='Ваше имя')

                            .form__input-block
                                textarea(type='text' placeholder='Сообщение')

                            .form__button-block
                                button.button-form Отправить
                                .error-message.is-active
                                    span Поле не может быть пустым



